{% extends '@OCGameCritic/layout.html.twig' %}

{% block ocgamecritic_body %}
    <h2>Nouveaux jeux</h2>

    {% for game in games %}
        <div class="game">
        {% if game.image %}
            <div class="game-image">
                <a href="{{ path('game_show', { 'id': game.id, 'slug': game.slug }) }}"><img src="{{ asset(game.image.webPath) }}" alt="{{ game.image.alt }}" /></a>
            </div>
        {% endif %}
            <div>
                <a class="game-name" href="{{ path('game_show', { 'id': game.id, 'slug': game.slug }) }}">{{ game.name|escape }}</a> 
                {% if game.releaseDate %}({{ game.releaseDate|date('Y') }}){% endif %}
                <p class="game-description">
                    {{ game.description|escape|truncate(140, true)|raw }}
                </p>
                <div class="score float-right">{{ game.score|number_format(1, ',', '') }}</div>
            </div>
        </div>
    {% endfor %}

    {% include '@OCGameCritic/_pagination.html.twig' %}
{% endblock %}
