{% extends '@OCGameCritic/layout.html.twig' %}

{% block body %}
    <h1>Nouveaux jeux</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Score</th>
                <th>Releasedate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('game_show', { 'id': game.id, 'slug': game.slug }) }}">{{ game.id }}</a></td>
                <td>{% if game.image %}<img src="{{ asset(game.image.webPath) }}" alt="{{ game.image.alt }}" />{% endif %}</td>
                <td>{{ game.name|escape }}</td>
                <td>{{ game.description|escape }}</td>
                <td>{{ game.score }}</td>
                <td>{% if game.releaseDate %}{{ game.releaseDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('game_show', { 'id': game.id, 'slug': game.slug }) }}">show</a>
                        </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('game_edit', { 'id': game.id }) }}">edit</a>
                        </li>
                    {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if nbPages > 1 %}
    <nav aria-label="Pagination des jeux">
        <ul class="pagination">
        {% for p in range(1, nbPages) %}
            <li class="page-item{% if p == page %} active"{% endif %}">
                <a class="page-link" href="{{ path('oc_game_critic_homepage', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
        </ul>
    </nav>
{% endif %}

    <ul>
        <li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
        {% endif %}
        </li>
    {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('game_new') }}">Ajouter un jeu</a>
        </li>
    {% endif %}
    </ul>
{% endblock %}
