{% extends '@OCGameCritic/layout.html.twig' %}

{% block body %}
    <h1>Games list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Score</th>
                <th>Releasedate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td><a href="{{ path('game_show', { 'id': game.id, 'slug': game.slug }) }}">{{ game.id }}</a></td>
                <td>{{ game.name }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.score }}</td>
                <td>{% if game.releaseDate %}{{ game.releaseDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('game_show', { 'id': game.id, 'slug': game.slug }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('game_edit', { 'id': game.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Pagination des jeux">
        <ul class="pagination">
        {% for p in range(1, nbPages) %}
            <li class="page-item{% if p == page %} active"{% endif %}">
                <a class="page-link" href="{{ path('oc_game_critic_homepage', {'page': p}) }}">{{ p }}</a>
            </li>
        {% endfor %}
        </ul>
    </nav>

    <ul>
        <li>
            <a href="{{ path('game_new') }}">Create a new game</a>
        </li>
    </ul>
{% endblock %}
