{% extends '@OCGameCritic/layout.html.twig' %}

{% block title %}
  {{ game.name|escape }} - {{ parent() }}
{% endblock %}

{% block ocgamecritic_body %}
    <h2>{{ game.name|escape }}</h2>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if game.image %}<img src="{{ asset(game.image.webPath) }}" alt="{{ game.image.alt }}" />{% endif %}
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ game.name|escape }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description|escape }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ game.score }}</td>
            </tr>
            <tr>
                <th>Releasedate</th>
                <td>{% if game.releaseDate %}{{ game.releaseDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h3>Critiques</h3>

{% if critics|length == 0 %}
    Aucune critique pour l'instant.
{% else %}
    {% for critic in critics %}
        {{ include('@OCGameCritic/critic/_critic_details.html.twig', { 'critic': critic }) }}
    {% endfor %}
{% endif %}

    {% include '@OCGameCritic/_pagination.html.twig' %}

    <ul>
        <li>
            <a href="{{ path('critic_new', {'id': game.id}) }}">Ecrire une critique</a>
        </li>
        <li>
            <a href="{{ path('oc_game_critic_homepage') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
