{% extends '@OCGameCritic/layout.html.twig' %}

{% block title %}
  {{ game.name|escape }} - {{ parent() }}
{% endblock %}

{% block ocgamecritic_body %}
    <h2>{{ game.name|escape }}</h2>

    <div class="game">
    {% if game.image %}
        <div class="game-image">
            <a href="{{ path('game_show', { 'id': game.id, 'slug': game.slug }) }}"><img src="{{ asset(game.image.webPath) }}" alt="{{ game.image.alt }}" /></a>
        </div>
    {% endif %}
        <div>
            <p class="game-infos">
                Plate-forme{% if game.platforms|length > 1 %}s{% endif %} : {{ game.platforms|join(', ') }}<br />
            {% if game.releaseDate %}
                Date de sortie : {{ game.releaseDate|date('d/m/Y') }}
            {% endif %}
            </p>
            <p class="game-description">
                {{ game.description|escape }}
            </p>
            <div class="score float-right">{{ game.score|number_format(1, ',', '') }}</div>
        </div>
    </div>

    <h3>Critiques</h3>

{% if critics|length == 0 %}
    Aucune critique pour l'instant.
{% else %}
    {% for critic in critics %}
        {{ include('@OCGameCritic/critic/_critic_details.html.twig', { 'critic': critic }) }}
    {% endfor %}
{% endif %}

    {% include '@OCGameCritic/_pagination.html.twig' %}

    <nav>
        <ul>
            <li>
                <a href="{{ path('critic_new', {'id': game.id}) }}">Ecrire une critique</a>
            </li>
            <li>
                <a href="{{ path('oc_game_critic_homepage') }}">Retour à la liste</a>
            </li>
        </ul>
    </nav>
{% endblock %}
