{% extends '@OCGameCritic/layout.html.twig' %}

{% block ocgamecritic_body %}
    <h2>Ecrire une critique pour le jeu <em>{{ game.name }}</em></h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider" />
    {{ form_end(form) }}

    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('game_show', {'id': game.id, 'slug': game.slug}) }}">Retour au jeu</a>
            </li>
        </ul>
    </nav>
{% endblock %}
