{% extends '@OCGameCritic/layout.html.twig' %}

{% block body %}
    <h1>Critic</h1>

    {{ include('@OCGameCritic/critic/critic_details.html.twig', { 'critic': critic }) }}

    <ul>
        <li>
            <a href="{{ path('critic_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('critic_edit', { 'id': critic.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
