{% extends '@OCGameCritic/admin/layout.html.twig' %}

{% block title %}
  Liste des jeux - {{ parent() }}
{% endblock %}

{% block ocgamecritic_admin_body %}
    <h2>Liste des jeux</h2>

    <ul>
        <li><a href="{{ path('admin_game_new') }}">Ajouter un jeu</a></li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Note</th>
                <th>Date de sortie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</a></td>
                <td>{% if game.image %}<img src="{{ asset(game.image.webPath) }}" alt="{{ game.image.alt }}" />{% endif %}</td>
                <td>{{ game.name|escape }}</td>
                <td>{{ game.description|escape }}</td>
                <td>{{ game.score }}</td>
                <td>{% if game.releaseDate %}{{ game.releaseDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_game_edit', { 'id': game.id }) }}">Modifier</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_game_delete', { 'id': game.id }) }}">Supprimer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@OCGameCritic/_pagination.html.twig' %}
{% endblock %}
