{% extends 'base.html.twig' %}

{% block title %}GameCritic{% endblock %}

{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />
<link rel="stylesheet" href="{{ asset('css/main.css') }}" />
{% endblock %}

{% block body %}
    <header class="container">
        <h1><a href="{{ path('oc_game_critic_homepage') }}">GameCritic</a></h1>
    </header>

    <section class="container">
        <div class="row">
            <div class="col-sm-8">
                {% block ocgamecritic_body %}
                {% endblock %}
            </div>
            <div class="col-sm-3 offset-sm-1">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>Espace membres</h4>
                    <ul class="list-unstyled">
                        <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <em>{{ app.user.username }}</em> connecté</br>
                            <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">Se connecter</a> 
                            ou <a href="{{ path('fos_user_registration_register') }}">s'inscrire</a>
                        {% endif %}
                        </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin_game_index') }}">Administration</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="container">
        <p>
            &copy; GameCritic 2018
        </p>
    </footer>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery/jquery-3.3.1.slim.min.js') }}"></script>
{% endblock %}